/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/google-java-format.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/target/
/.idea/workspace.xml
!/local_trillo_config2.json
!/sample_run_function_config.json
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
/config/server.json
